data/forecasting/Monash/oikolab_weather_dataset.tsf filter=lfs diff=lfs merge=lfs -text
data/forecasting/Monash/pedestrian_counts_dataset.tsf filter=lfs diff=lfs merge=lfs -text
data/forecasting/Monash/solar4seconds_dataset.tsf filter=lfs diff=lfs merge=lfs -text
data/forecasting/Monash/solar10minutes_dataset.tsf filter=lfs diff=lfs merge=lfs -text
data/forecasting/Monash/weather_dataset.tsf filter=lfs diff=lfs merge=lfs -text
data/forecasting/Monash/wind_4_seconds_dataset.tsf filter=lfs diff=lfs merge=lfs -text
data/forecasting/Monash/australian_electricity_demand_dataset.tsf filter=lfs diff=lfs merge=lfs -text
data/forecasting/Monash/saugeenday_dataset.tsf filter=lfs diff=lfs merge=lfs -text
data/forecasting/Monash/traffic_hourly_dataset.tsf filter=lfs diff=lfs merge=lfs -text
data/regression/Monash-UCR/AppliancesEnergy/AppliancesEnergy_TEST.ts filter=lfs diff=lfs merge=lfs -text
data/regression/Monash-UCR/AustraliaRainfall/AustraliaRainfall_TRAIN.ts filter=lfs diff=lfs merge=lfs -text
data/regression/Monash-UCR/IEEEPPG/IEEEPPG_TEST.ts filter=lfs diff=lfs merge=lfs -text
data/regression/Monash-UCR/IEEEPPG/IEEEPPG_TRAIN.ts filter=lfs diff=lfs merge=lfs -text
data/regression/Monash-UCR/LiveFuelMoistureContent/LiveFuelMoistureContent_TEST.ts filter=lfs diff=lfs merge=lfs -text
data/regression/Monash-UCR/LiveFuelMoistureContent/LiveFuelMoistureContent_TRAIN.ts filter=lfs diff=lfs merge=lfs -text
data/regression/Monash-UCR/AppliancesEnergy/AppliancesEnergy_TRAIN.ts filter=lfs diff=lfs merge=lfs -text
data/regression/Monash-UCR/AustraliaRainfall/AustraliaRainfall_TEST.ts filter=lfs diff=lfs merge=lfs -text
data/regression/Monash-UCR/FloodModeling1/FloodModeling1_TEST.ts filter=lfs diff=lfs merge=lfs -text
data/regression/Monash-UCR/FloodModeling1/FloodModeling1_TRAIN.ts filter=lfs diff=lfs merge=lfs -text
data/classification/UCRArchive_2018/ECG200/ECG200_TRAIN.tsv filter=lfs diff=lfs merge=lfs -text
data/classification/UCRArchive_2018/Wine/Wine_TEST.tsv filter=lfs diff=lfs merge=lfs -text
data/classification/UCRArchive_2018/Wine/Wine_TRAIN.tsv filter=lfs diff=lfs merge=lfs -text
data/classification/UCRArchive_2018/Wafer/Wafer_TRAIN.tsv filter=lfs diff=lfs merge=lfs -text
data/classification/UCRArchive_2018/Adiac/Adiac_TRAIN.tsv filter=lfs diff=lfs merge=lfs -text
data/classification/UCRArchive_2018/Coffee/Coffee_TEST.tsv filter=lfs diff=lfs merge=lfs -text
data/classification/UCRArchive_2018/Coffee/Coffee_TRAIN.tsv filter=lfs diff=lfs merge=lfs -text
data/classification/UCRArchive_2018/CricketX/CricketX_TEST.tsv filter=lfs diff=lfs merge=lfs -text
data/classification/UCRArchive_2018/Lightning2/Lightning2_TRAIN.tsv filter=lfs diff=lfs merge=lfs -text
data/classification/UCRArchive_2018/Plane/Plane_TEST.tsv filter=lfs diff=lfs merge=lfs -text
data/classification/UCRArchive_2018/Wafer/Wafer_TEST.tsv filter=lfs diff=lfs merge=lfs -text
data/classification/UCRArchive_2018/CricketX/CricketX_TRAIN.tsv filter=lfs diff=lfs merge=lfs -text
data/classification/UCRArchive_2018/ECG200/ECG200_TEST.tsv filter=lfs diff=lfs merge=lfs -text
data/classification/UCRArchive_2018/Plane/Plane_TRAIN.tsv filter=lfs diff=lfs merge=lfs -text
data/classification/UCRArchive_2018/Lightning2/Lightning2_TEST.tsv filter=lfs diff=lfs merge=lfs -text
data/classification/UCRArchive_2018/Adiac/Adiac_TEST.tsv filter=lfs diff=lfs merge=lfs -text
data/forecasting/Monash/*.tsf filter=lfs diff=lfs merge=lfs -text
data/regression/Monash-UCR/*/*.ts filter=lfs diff=lfs merge=lfs -text
data/classification/UCRArchive_2018/*/*.tsv filter=lfs diff=lfs merge=lfs -text
